.image-label {
    position: relative;
}

.image-input {
    opacity: 0;
    cursor: pointer;
    z-index: 20;
    position: relative;
}

.preview {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 1px solid var(--blanco);
    z-index: 10;
}